body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.shake-horizontal {
  animation: click 0.8s ease-out;
}

@keyframes click {
  0% {
    scale: 1;
  }

  100% {
    scale: 0.9;
  }
}

.nav__link {
  display: flex;
  align-items: center;
  opacity: 0.6;
}

.nav__link span {
  color: #fff;
  padding-left: 10px;
}

.nav__link_active {
  display: flex;
  align-items: center;
  opacity: 1;
}

.nav__link_active span {
  color: #fff;
  padding-left: 10px;
}