body {
  margin: 0;
  font-family: "Lato", "Almarai", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.shake-horizontal {
  animation: click 0.8s ease-out;
}

@keyframes click {
  0% {
    scale: 1;
  }

  100% {
    scale: 0.9;
  }
}